{% extends "base.html" %}
{% block titulo %}
    <title>All Star</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        function imagenGrande(x) {
          x.style.height = "180px";
          x.style.width = "255px";
        }
        
        function imagenNormal(x) {
          x.style.height = "160px";
          x.style.width = "235px";
        }
        </script>
{% endblock %}
{% block contenido %}
<body>
    <div align="center">
        <h2>All Star</h2>
    </div>
    <div>
    <h2>Equipo LeBron James</h2>
    <table class="table" width="30px">
        <thead class="thead-light">
          <tr>
            <th scope="col">LeBron James</th>
            <th scope="col">Giannis Antetokounmpo</th>
            <th scope="col">Stephen Curry</th>
            <th scope="col">Luka Doncic</th>
            <th scope="col">Nikola Jokic</th>
          </tr>
        </thead>
        <tbody>
              <tr>
              <td> 
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/lebron.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/anteto.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/curry.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/luka.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/joker.png" width="235px" height="160px">
              </td>
            </tr>
    </table>
    <br>
    <br>
    <p id="pGrafico" style="display:none">
    <!-- <button type="button" onclick="document.getElementById('demo').style.display='block'">Click Me!</button> -->
    <canvas id="grafico" style="display:none;width:100%;max-width:700px;margin-right:auto;margin-left:auto;display:block;"></canvas>

    <script>
    var x = ["LeBron James", "Giannis Antetokounmpo", "Stephen Curry", "Luka Doncic", "Nikola Jokic", "Jaylen Brown", "Paul George", "Rudy Gobert", "Damian Lillard", "Domantas Sabonis", "Chris Paul", "Ben Simmons"];
    var y = [850, 825, 784, 721, 714, 685, 655, 642, 544, 425, 414, 358];
    var colores = ["red", "green","blue","orange","brown","red", "green","blue","orange","brown","red", "green"];

    new Chart("grafico", {
    type: "bar",
    data: {
        labels: x,
        datasets: [{
        backgroundColor: colores,
        data: y
        }]
    },
    options: {
        legend: {display: false},
        title: {
        display: true,
        text: "Votación para el 5 inicial (Valores en miles)"
        }
    }
    });
    </script>
    </p>
    <br>
    <button type="button" style="margin-right:auto;margin-left:auto;display:block;" class="btn btn-primary" onclick="document.getElementById('pGrafico').style.display='block'">Ver votaciones</button>
    <br>
    </div>
    <br>
    <br>
    <br>
    <div>
    <h2>Equipo Kevin Durant</h2>
    <table class="table" width="30px">
        <thead class="thead-light">
          <tr>
            <th scope="col">Bradley Beal</th>
            <th scope="col">Kyrie Irving</th>
            <th scope="col">Kawhi Leonard</th>
            <th scope="col">Jayson Tatum</th>
            <th scope="col">Zion Williamson</th>
          </tr>
        </thead>
        <tbody>
              <tr>
              <td> 
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/beal.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/irving.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/kawhi.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/tatum.png" width="235px" height="160px">
              </td>
              <td>
                <img onmouseover="imagenGrande(this)" onmouseout="imagenNormal(this)" src="/static/img/zion.png" width="235px" height="160px">
              </td>
            </tr>
      </table>
      <br>
      <br>
    <p id="pGrafico2" style="display:none">
    <!-- <button type="button" onclick="document.getElementById('demo').style.display='block'">Click Me!</button> -->
    <canvas id="grafico2" style="display:none;width:100%;max-width:700px;margin-right:auto;margin-left:auto;display:block;"></canvas>

    <script>
    var x = ["Bradley Beal", "Kyrie Irving", "Kawhi Leonard", "Jayson Tatum", "Zion Williamson", "Mike Conley", "James Harden", "Zach LaVine", "Donovan Mitchell", "Julius Randle", "Nikola Vucevic"];
    var y = [830, 825, 784, 721, 714, 685, 655, 642, 544, 425, 414];
    var colores = ["red", "green","blue","orange","brown","red", "green","blue","orange","brown","red"];

    new Chart("grafico2", {
    type: "bar",
    data: {
        labels: x,
        datasets: [{
        backgroundColor: colores,
        data: y
        }]
    },
    options: {
        legend: {display: false},
        title: {
        display: true,
        text: "Votación para el 5 inicial (Valores en miles)"
        }
    }
    });
    </script>
    </p>
    <br>
    <button type="button" style="margin-right:auto;margin-left:auto;display:block;" class="btn btn-primary" onclick="document.getElementById('pGrafico2').style.display='block'">Ver votaciones</button>
    <br>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}