{% extends "base.html" %}
{% block titulo %}
  <title>Nuevo Deporte</title>
{% endblock %}

{% block contenido %}

	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
  				This is a danger alert—check it out!
		</div>
	{% endif %}
	<div align="center">
	<h2>Creacion de nuevo deporte</h2>
	</div>
	{% if request.user.is_authenticated %}
	<form method='POST' enctype="multipart/form-data">
		{% csrf_token %} <!--Variable de seguridad-->
		{% if mensaje %}
			<div class="alert alert-success" role="alert">
  				Deporte creado correctamente
			</div>
		{% endif %}
		<h3>Nombre del deporte</h3>
		{{ form.nombre_deporte }}
		<br>
		<h3>Descripcion del deporte</h3>
        {{ form.descripcion }}
		<br>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
	{% else %}
	<a class="btn btn-primary btn-block" >Debes estar registrado para crear contenido</a>
	{% endif %}
{% endblock %}