{% extends "base.html" %}
{% block titulo %}
  <title>Nueva Liga</title>
{% endblock %}

{% block contenido %}

	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
  				This is a danger alert—check it out!
		</div>
	{% endif %}

	<h1>Creacion de nueva liga<h1>
	<form method='POST' enctype="multipart/form-data">
		{% csrf_token %} <!--Variable de seguridad-->
		{% if mensaje %}
			<div class="alert alert-success" role="alert">
  				Liga creada correctamente
			</div>
		{% endif %}

		<!--{{ form.as_p }}-->
		{{ form.nombre_liga }}
        {{ form.descripcion }}
        {{ form.deporte }} 
		{{ form.imagen_liga }}
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>

{% endblock %}