{% extends "base.html" %}
{% block titulo %}
  <title>Nuevo equipo</title>
{% endblock %}

{% block contenido %}
<body>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
  				This is a danger alert—check it out!
		</div>
	{% endif %}
	<div align="center">
	<h2>Creacion de nuevo equipo</h2>
	</div>
	<form method='POST'>
		{% csrf_token %} <!--Variable de seguridad-->
		{% if mensaje %}
			<div class="alert alert-success" role="alert">
  				Equipo creado correctamente
			</div>
		{% endif %}

		<h3>Nombre</h3>
		{{ form.nombre_equipo }}
		<br>
		<h3>Descripcion</h3>
        {{ form.descripcion }} 
		<br>
		<h3>Liga</h3>
		{{ form.liga }}
		<br>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
{% endblock %}