{% extends "base.html" %}

{% block titulo %}
<title>Liga detalle</title>
{% endblock %}


{% block contenido %}

<div align="center">
  <h2>Liga : {{ liga.nombre_liga}} </h2>
</div>
<!-- {% for l in ligas %}
{{ l.nombre_equipo}}
{% endfor %} -->

{% for j in ligainfo %}
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Año creacion</th>
            <th scope="col">Nº Equipos</th>
            <th scope="col">Maximo Ganador</th>
            <th scope="col">Ultimo Ganador</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{j.nameliga}}</td>
            <td>{{j.anyocreacion}}</td>
            <td>{{j.numequipos}}</td>
            <td>{{j.maxganador}}</td>
            <td>{{j.ultimoganador}}</td>
            

          </tr>
        </tbody>
      </table> 
  {% endfor %}

{% if lista_equipos_liga %}
<div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for e in lista_equipos_liga %}
        <div class="col-3">
          <div class="card shadow-sm">
            <div class="container">

              <img src="{{e.imagen.url}}" width="100%" height="200">
              <!-- </a> -->
            </div>
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
        
      </svg> -->
            <div class="card-body">
              <p class="card-text">{{ e.nombre_equipo}}</p>
              <!-- </a> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"> Fecha Creación: {{ e.fecha_creacion }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  {% else %}
  <p>No hay categorias creadas.</p>
  {% endif %}
  


  {% endblock %}