{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
  <title>Nuevo equipo</title>
{% endblock %}

{% block contenido %}

	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
  				This is a danger alert—check it out!
		</div>
	{% endif %}

	<h1>Creacion de nuevo equipo<h1>
	<form action="{% url 'nuevoEquipo' %}" method='POST'>
		{% csrf_token %} <!--Variable de seguridad-->
		{% if mensaje &}
			<div class="alert alert-success" role="alert">
  				Equipo creado correctamente
			</div>
		{% endif %}

		{{ form|crispy }} <!--Para que aplique los estilos de crispy-->

		<button type="submit" class="btn btn-primary">Fuardar</button>
	</form>

{% endblock %}