{% extends "base.html" %}

{% block titulo %}
  <title>Estadisticas API</title>
{% endblock %}

{% block contenido %}
<body>
<div align="center">
<h2>Equipos NBA</h2>
</div>
 <table class="table" width="30px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Equipo</th>
      <th scope="col">Abreviatura</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Conferencia</th>
      <th scope="col">Division</th>
    </tr>
  </thead>
  <tbody>
    {% for i in teams %}
    	<tr>
        <td> 
          <a href="{% url 'jugadoresNBA' %}">{{ i.fullName}}</a>
        </td>
        <td>
        {{ i.tricode }}
        </td>
        <td>
        {{ i.city }}
        </td>
        <td>
        {{ i.confName }}
        </td>
        <td>
        {{ i.divName }}
        </td>
      </tr>
  	{% endfor %}
</table>

  <div align="center">
    <br>
      <strong><h1>Texto de prueba</h1></strong><br>
  </div>
{% endblock %}