{% extends "base.html" %}

{% block titulo %}
  <title>Estadisticas API</title>
  <script>
    function estadisticasCorrectas() {
      alert("Estadisticas cargadas correctamente");
    }
    </script>
{% endblock %}

{% block contenido %}
<body onload="estadisticasCorrectas()">
<div align="center">
<h2>Equipos NBA</h2>
</div>
 
  <!--<p>Ciudad: <strong> {{i.city}}  {{i.fullName}}  {{i.tricode}} </strong></p>-->
<table class="table" width="30px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Equipo</th>
      <th scope="col">Abreviatura</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Conferencia</th>
      <th scope="col">Division</th>
    </tr>
  </thead>
  <tbody>
    {% for i in teams %}
    	<tr>
        <td> 
          <a href="">{{ i.fullName}}</a>
        </td>
        <td>
        {{ i.tricode }}
        </td>
        <td>
        {{ i.city }}
        </td>
        <td>
        {{ i.confName }}
        </td>
        <td>
        {{ i.divName }}
        </td>
      </tr>
  	{% endfor %}
</table>

  <div align="center">
    <br>
      <strong><h1>Texto de prueba</h1></strong><br>
  </div>
{% endblock %}