{% extends "base.html" %}

{% block titulo %}
  <title>MisLigas</title>
{% endblock %}

{% block contenido %}
<body>
<div>
  
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for l in lista_ligas %}

        <div class="col-3">
          <div class="card shadow-sm">
            <div class="container">
              <a href="{% url 'listaEquiposLiga' l.nombre_liga %}">

              <img src="{{l.imagen_liga.url}}" width="100%" height="200">
              </a>
            </div>
            <div class="card-body">
              <a href="{% url 'listaEquiposLiga' l.nombre_liga %}">
              <p class="card-text" >{{ l.nombre_liga}}</p>
              </a>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"> Fecha Creación: {{ l.fecha_creacion }}</small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"> {{ l.descripcion }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}